.template-container {
    padding: 0 16px;
    width: 500px;
}
.template-form-row {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    padding: 4px 0;
}

.template-label-section {
    width: 40%;
}
.template-input-section {
    display: flex;
    width: 60%;
}
.template-input {
    width: 100%;
}
.template-title {
    background: linear-gradient(#ffffff, #b9b9b9);
    padding: 4px;
    border-top: 1px solid #e3e3e3;
    margin-bottom: 0;
}
.template-actions button {
    cursor: pointer;
    margin: 0 8px;
    border-radius: 4px;
    padding: 4px 16px;
    border-width: 1px;
}
.template-actions {
    margin: 16px -8px;
}
.message-box {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.message-box span {
    line-height: 24px;
}

.message-box img {
    margin-right: 16px;
}

.message-box--success {
    border: 1px solid #00cb00;
    background-color: #ceffce;
}

.message-box--error {
    border: 1px solid #cb0000;
    background-color: #ffcece;
}